<html>
<head>
	<title>Store</title>
	<link href="resources/css/bootstrap.css" rel="stylesheet">
</head>

<body class="col-md-10 col-md-offset-1">
	<!-- NAVBAR START -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Store</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="index">Inicio</a></li>
					<li><a href="categorias">Categorias</a></li>
					<li><a href="productos">Productos</a></li>
					<li class="active"><a href="contacto">Contacto<span
							class="sr-only">(current)</span></a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<!-- NAVBAR END -->
	
	<!-- HEADER START -->
	<div id="header">
		<H2>BAiresDev Store</H2>
	</div>
	<!-- HEADER END -->
	
	<!-- CONTENT START -->
	<div id="content">
	
	<div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">         
          <div class="inner cover">
            <h1 class="cover-heading">Contacto</h1>
            <p class="lead">Ponte en contacto con nosotros para recibir mas informacion acerca de nuestro software.</p>
            <p class="lead"></p>
          </div>          
        </div>
      </div>
    </div>

	<!-- Marketing messaging and featurettes
    ================================================== -->
	<!-- Wrap the rest of the page in another container to center all the content. -->
	<div class="container marketing">
		<!-- Three columns of text below the carousel -->
		<div class="row">
			<div class="col-md-4" align="center">
				<img class="img-circle" data-src="holder.js/140x140" alt="140x140"
					src="resources/img/skype.png"
					style="width: 140px; height: 140px;">
				<h2>Skype</h2>
				<h3>laboratorio2.ucla</h3>
			</div>
			<div class="col-md-4" align="center">
				<img class="img-circle" data-src="holder.js/140x140" alt="140x140"
					src="resources/img/email.jpg"
					style="width: 140px; height: 140px;">
				<h2>E-mail</h2>
				<h3>laboratorio2@ucla.edu.ve</h3>
			</div>
			<div class="col-md-4" align="center">
				<img class="img-circle" data-src="holder.js/140x140" alt="140x140"
					src="resources/img/contacto.png"
					style="width: 140px; height: 140px;">
				<h2>Telefono</h2>
				<h3>(0058)418.123.45.67</h3>
			</div>
		</div>
		<!-- /.row -->
		<!-- FOOTER -->
		<div class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">
				<p class="pull-right">
					<a href="#">Ir arriba</a>
				</p>
				<p class="muted credit">
					Software promovido por <a href="http://www.ucla.edu.ve">UCLA</a>
					- 2015
				</p>
			</div>
		</div>
		
	</div>
	<!-- CONTENT END -->
	
	
	<!-- JAVASCRIPT START -->
	<script src="resources/js/bootstrap.js"></script>
	<!-- JAVASCRIPT END -->

</body>
</html>
