<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="css/estilo.css" rel="stylesheet" type="text/css" />
<title>Mensajes</title>
</head>
<body>
<center>
		<table width="100%" cellspacing="0" border="0" cellpadding="0">
		<tr>
			<td height="400px" id='celda'>
		     <h1>
				HOLA MUNDO
			</h1>	
			</td>
		</tr>
	</table>
</center>
</body>
</html>