<form action="/ProyectoLaboratorioII/prueba?operacion=guardar" method="post" enctype="multipart/form-data">
    <input type="text" name="description" />
    <input type="file" name="file" />
    <input type="submit" />
</form>

<td><img src="path/uploads/${usuario.getUserProfile().getFoto()}"></td>