.justify-content-center{
    display: flex;
    justify-content:center;
    align-items:center;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #FF4F57;
    color: #fff;
    display: block;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.custom-logout{
	background: #FF4F57 !important;
	border: 1px solid #fd3942 !important
}
.custom-site-footer{
	background: #FF4F57;
}

.custom-bar-chart .bar .value{
	background: #FF4F57;
    color: #FF4F57;
}

.view-more{
	position: absolute;
    bottom: 20px;
    right: 98px;
}

.image-container-dashboard{
	width:100%;
	height:145px;
}

.MvW p{
	display:inline;
}

.MvW-M{
	height:15px;
	width:15px;
	background:#71a3ff;
	margin-right:5px;
	display:inline-block;
}

.MvW-W{
	height:15px;
	width:15px;
	background:#ff71ac;
	margin-right:5px;
	display:inline-block;
}

.orange-background{
	background: #FF4F57 !important;
	border-color: #FF4F57 !important;
}