/*.general-header-style{
	background: #444;
}*/

.file-custom {
	border-radius: 10px;
	background: #e4ccc066;
	width: inherit;
}

.custom-main-container{
	margin-top:45px;
	margin-bottom:45px;
	border-radius: 4px;
}

.row-register{
	width:60%;
	padding: 40px;
	background: #FF4F57;
	border-radius: 10px;
}

.input-style{
	border-radius:6px;
}

.main-banner{
	padding: 52px 0px;
}

.justify-content-center{
    display: flex;
    justify-content:center;
    align-items:center;
}

.h2-orange{
	font-size: 30px;
    color: #ff4f57;
    font-weight: 400;
    margin-bottom: 30px;
    letter-spacing: -1px;
}

.h3-orange{
	font-size: 25px;
    color: #ff4f57;
    font-weight: 400;
    margin-bottom: 15px;
    letter-spacing: -1px;
}

.h4-subtitle{
	font-size: 20px;
	color: #ffffff;
}

.h1-banner{
	font-weight: 900;
    font-size: 50px;
    letter-spacing: 1px;
}

.default-white-button{
	background: #ffffff;
    color: #FF4F57;
    font-weight: 700;
    margin-right:10px;
}
.container-breadcrumb{
	margin: 20px 30px;
}

.breadcrumb-style{
	background: #f5f5f5;
    display: inline;
    padding: 6px 11px;
}
.breadcrumb-style a{
	color:#007bff;
}
/*************************VER*************************/

.read-only-field{
	background-color: white !important;
}

/***********************ADMIN*************************/
.field-label{
	color:white;
}

/***********************INDEX-ADMIN*******************/

.thead-orange{
	background: #FF4F57;

}

.thead-orange th{
	color:white !important;
	font-weight: bold;
	font-size:14px;
}

#table-index-crud td{
	font-size:15px;
}

.index-option-button{
	font-size: 11px;
    height: 34px;
}

.view-button{
    background-color: #5bc0de;
    border-color: #46b8da;
}

.view-button:hover{
    background-color: #31b0d5;
    border-color: #269abc;
}

.view-button:focus{
	background-color: #31b0d5;
    border-color: #269abc;
}

.update-button{
	background-color: #ff984f;
    border-color: #ff984f;
}

.update-button:hover{
	background-color: #ef7e2e;
    border-color: #ef7e2e;
}

.update-button:focus{
	background-color: #ef7e2e;
    border-color: #ef7e2e;
}

.delete-button{
    background-color: #f31a24;
    border-color: #f31a24;
}

.delete-button:hover{
	background-color: #b9060e;
    border-color: #b9060e;
}

.delete-button:focus{
	background-color: #b9060e;
    border-color: #b9060e;
}

.td-options-buttons{
	width: 300px;
}

#table-index-crud tbody th{
	padding-top:15px !important;
}

#table-index-crud tbody td{
	padding-top:15px !important;
}

.td-descipcion-rol-listado{
	max-width: 365px;
}

.location-row {
	margin-top: 10px;
}

@media(min-width:988px){
	.index-search{
		top:30px;
	}
}
.white-background{
	background-color: #ffffff;
}

.margin{
	margin-bottom: 20px;
}

/****************profile**********************/
.profile-picture{
	border-radius: 50%;
    background: black;
    width: 150px;
    height: 150px;
    top: -75px;
    position: absolute;
	
}

.img-circle{
	border-radius: 50%;
}

.profile-container{
	position:relative;
}

.custom-hr{
	margin-top: 20px;
    margin-bottom: 20px;
    border: 16px;
    border-top: 1px solid #d4d4d4;
}

.hide{
	display: none;
}

/*******************Registro************************/
.form-register{
	max-width: 720px;
    margin: 100px auto 0;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.hr-registro{
	margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #e0a0a0;
    max-width: 576px;
}

.form-register-style{
	margin-top: 60px;
	margin-bottom: 60px;
	display: grid;
}

.return-label{
	padding-top:20px;
}

.container-tipo-registro{
	height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-tipo-registro{
	margin: 0 auto !important;
	min-width: 416px;
}

.table-label-detalle-empleado{
	font-size: 18px;
    font-weight: bold;
    color: #ff4f57;
}

.curriculum-card{
	background: #ff482b14;
    margin: 20px 10px;
    border-radius: 14px;
}
.perfil-img{
	position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 100px;
    right: 93px;
    top: -62px;
	
}

.titulo-curriculo{
	display: flex;
    justify-content:right;
    align-items:right;
}

.form-group-file{
margin-left: 180px !important;
}